# Python
*.pyd
*.pyc
python*/*.ini
notebooks/*.ini

# Java
*.jar
*.class

# Programs
.vscode

# Temporary files
*.bak
tmp
temp

# Results (large files)
experiments/
*.dump
*.mov
*.ogv
*.npy
*.data*

# Mutable files
*.cfg
!template.cfg
test.json