# Python
*.pyd
*.pyc
_vizdoom.ini

# Java
*.jar
*.class

# Programs
.vscode

# Temporary/backup files
*.bak
*-checkpoint.ipynb
tmp
temp

# Results (large files)
experiments/
*.dump
*.mov
*.ogv
*.npy
*.data*

# Mutable files
config/*.cfg
!template.cfg
!example.cfg
agents/*.json
!template.json
networks/*.json
!template.json
test.json