#####################################################################
# Basic config file
#####################################################################

doom_game_path = ../../scenarios/freedoom2.wad
doom_scenario_path = ../../scenarios/open_field.wad
doom_map = MAP00

# Rewards:
# living_reward: given every time step
# death_penalty: given at death (negative by default)
#living_reward = 0.01
#death_penalty = 1.0

# Rendering options
screen_resolution = RES_400X225
screen_format = CRCGCB 
render_hud = False
render_crosshair = False
render_weapon = False
render_decals = False
render_particles = False
window_visible = False

# make episodes start after x tics (e.g. after spawning decorations)
episode_start_time = 20

# make episodes finish after x actions (tics)
episode_timeout = 2000

# Available buttons
available_buttons = 
{ 
	TURN_LEFT 
	TURN_RIGHT 
	MOVE_FORWARD	
}

# Game variables that will be in the state
available_game_variables = 
{
}

# Game mode and difficulty
# Sector damage cut in half if doom_skill = 1
mode = PLAYER
doom_skill = 2